#
# Synaptics fingerprint
#

#synaptics fingerprint service
service vfmService /system/bin/vfmService
    class late_start
    user root
    group system
    onrestart restart fingerprintd

#fingerprintd
service fingerprintd /system/bin/fingerprintd
    class late_start
    user system
    onrestart restart vfmService

#synaFpTest for Emode test
service synaFpTest /system/bin/synaFpTest
    class late_start
    user root
    group system
    oneshot
    disabled

on property:debug.synafp.test-start=1
    start synaFpTest

#on property:debug.synafp.test-start=0
#    stop synaFpTest

service alipayServiced /system/bin/alipayServiced
   class late_start
   user system    
